<div  id="user">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>第一步： <small style="color: red;">请先上传需要导入的excel文件</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <!-- <div class="form-group">
                                <label class="fileinput-exists">上传Excel</label>                                              
                            </div>    
                            <div class="form-group">
                                <input type="file" name="excel" id="excel" style="width: 170px;"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" v-on:click="upload">上传</button>
                            </div> -->

                            <label class="col-sm-2 control-label">上传Excel</label>

                            <div class="col-sm-10">
                                <input type="file" name="excel" id="excel" style="width: 170px;"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="upload-file" class="btn btn-primary" type="button"  v-on:click="upload">
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">上传&nbsp;&nbsp;</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group" id="upload-message" style="display: none;">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <span style="font-size: 20px;color: red;">Excel文件上传成功！</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight tab-pane active" role="tabpanel">         
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>第二步： <small style="color: red;">请填写转账信息</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <!-- <div class="form-group">
                                <label class="col-lg-2 control-label">Email</label>

                                <div class="col-lg-10">
                                    <input type="email" placeholder="Email" class="form-control"> 
                                    <span class="help-block m-b-none">Example block-level help text here.
                                    </span>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label">
                                    <%= ctx.__('my_wallet')%></label>
                                <div class="col-lg-10"> 
                                    <input  name="fromAddrees" class="form-control required" v-validate="'required'" v-model="sb.fromAddress" ><br>
                                    <span v-show="errors.has('fromAddrees')" class="text-danger">钱包地址不能为空</span>
                                </div>    
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-2 control-label"><%= ctx.__('secret')%> *</label>
                                <div class="col-lg-10">
                                    <input  name="privateKey" class="form-control required" v-validate="'required'" v-model="sb.privateKey" ><br>
                                    <span v-show="errors.has('privateKey')" class="text-danger">私钥不能为空</span>
                                </div>    
                            </div>                                  
                            <!-- <div class="form-group">
                                <label class="col-lg-2 control-label"><%= ctx.__('fee_setting')%> *</label>
                                <div class="col-lg-10"> 
                                    <input  name="amout" class="form-control required" v-validate="'required'" v-model="sb.amount" ><br>
                                    <span v-show="errors.has('amout')" class="text-danger">数量不能为空</span>
                                </div>
                            </div>  -->

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" v-on:click="sendCoin"><%=ctx.__('start_transfer') %></button>
                                </div>
                                
                            </div>
                            
                            
                            
                            <!-- <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button"  v-on:click="upload">上传Excel</button>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>    
